@page
@model AlpinHutsDashboard.Pages.HutsModel
@using System.Globalization;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<WebUI.SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["titleHutlist"];
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

@section Scripts{

    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('ddd, DD.MM.YYYY');
            $('#hutTable').DataTable({
                "paging": false,
                "fixedHeader": true,
                "language": {
                    @if (requestCulture.Culture.Name == "de")
                    {
                        @: "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/German.json"
                    }
                },
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null
                ],
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });

        // On change of the date field, reload the map
        $("#dateForm")
            .on("input", function () {
                $("#dateForm").submit();
            });

        function resetFormInputs() {
            document.getElementById('DateFilter').value = '';
            document.getElementById('NumberOfPlaces').value = 1;
        }
    </script>

}

<h1>@ViewData["Title"]</h1>


<div class="row justify-content-between">
    <div class="col-md-3">
        <form asp-action="Huts" method="get" id="dateForm" class="form-inline">
            <div class="form-group">
                <div class="col">
                    <label style="width:200px">@SharedLocalizer["availabilityAtDate"]</label>
                    <input asp-for="DateFilter" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" style="width:200px" />
                </div>
                <div class="col">
                    <label style="width:100px">@SharedLocalizer["numberOfPlaces"]</label>
                    <input asp-for="NumberOfPlaces" class="form-control" min="1" style="width:100px" />
                </div>
                <div class="col">
                    <label style="color:white">.</label>
                    <button class="btn btn-primary" onclick="resetFormInputs();">@SharedLocalizer["reset"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="display" id="hutTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @SharedLocalizer["hut"]
            </th>
            <th>
                @SharedLocalizer["countryRegion"]
            </th>
            <th>
                @SharedLocalizer["coordinates"]
            </th>
            <th>
                @if (Model.DateFilter != null && Model.DateFilter >= DateTime.Today)
                {
                    @: @SharedLocalizer["availabilityOn"] @Model.DateFilter?.ToString("dd.MM.yyyy")
                }
                else
                {
                    @: Link
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Huts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-page="./HutDetail" asp-route-hutid="@item.Id" asp-fragment="@Model.DateFilter?.ToString("yyyy-MM-dd")">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @SharedLocalizer[item.Country] @(!string.IsNullOrEmpty(item.Region) ? "- " + item.Region : "")
                </td>
                <td>
                    @if (item.Latitude != null && item.Longitude != null)
                    {
                        <a asp-page="./Map" asp-route-hutid="@item.Id">
                            @item.Latitude?.ToString("##.#####", CultureInfo.InvariantCulture)/@item.Longitude?.ToString("##.#####", CultureInfo.InvariantCulture)
                        </a>
                    }
                </td>
                <td>
                    @if (item.Enabled == true)
                    {
                        if (Model.DateFilter != null && Model.DateFilter >= DateTime.Today)
                        {
                            var rooms = item.Availability.Where(a => a.Date == Model.DateFilter).OrderBy(a => a.BedCategoryId).Select(a => $"{SharedLocalizer[a.BedCategory?.Name]} - {a.FreeRoom}").ToList();
                            foreach (var room in rooms)
                            {
                                @room<br />
                            }
                        }
                        else
                        {
                            <a target="_blank" href="@item.Link">
                                @SharedLocalizer["onlineBooking"]
                            </a>
                        }
                    }
                    else
                    {
                        @SharedLocalizer["bookingInactive"]
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
