@page "/"
@model WebUI.Pages.MapModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<WebUI.SharedResources> SharedLocalizer

@{
    ViewData["Title"] = Localizer["title"];
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

@section Scripts{
    <script>
        var map;
        var ajaxRequest = new XMLHttpRequest();
        var hutlist;
        var plotlayers = [];

        function initmap() {

            // create the tile layer with correct attribution for OSM
            var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib = 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
            var osmLayer = new L.TileLayer(osmUrl, { minZoom: 6, attribution: osmAttrib });

            // create the tile layer with correct attribution for opentopomaps
            var otmUrl = 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png';
            var otmAttrib = osmAttrib.concat(' | Map visualization: © <a href="https://opentopomap.org">OpenTopoMap</a> (CC-BY-SA)');
            var otmLayer = new L.TileLayer(otmUrl, { minZoom: 6, maxZoom: 17, attribution: otmAttrib });

            var zoom = 7;
            // Default= Initial view on the Alps
            var lat = 46.90;
            var lon = 11.33;

            var params = getUrlVars();
            if (params["lat"] !== undefined && params["lon"] !== undefined) {
                lat = params["lat"];
                lon = params["lon"];
                zoom = 15;
            }

            // set up the map
            map = new L.Map('map', {
                center: [lat, lon],
                zoom: zoom,
                layers: [osmLayer]
            });

            var baseMaps = {
                "OpenStreetMap": osmLayer,
                "OpenTopoMap": otmLayer
            };

            L.control.layers(baseMaps).addTo(map);

            // Initial load of huts to plot
            askForPlots();

            // We don't have that many markers (only a couple of hundred), so we don't bother reloading only the ones in sight
            // Create event handler on map moved
            //map.on('moveend', onMapMove);
        }

        // Not used currently
        function onMapMove(e) { askForPlots(); }

        function askForPlots() {
            // request the huts info with AJAX for the current bounds
            var bounds = map.getBounds();
            var minll = bounds.getSouthWest();
            var maxll = bounds.getNorthEast();
            var url = '/api/Map?';
            url = url.concat("&dateFilter=" + document.getElementById('DateFilter').value);

            // We don't use a location filter for now and just load all the huts
            //url = url.concat('&llLon=' + minll.lng + '&llLat=' + minll.lat + '&urLon=' + maxll.lng + '&urLat=' + maxll.lat);

            ajaxRequest.onreadystatechange = mapRequestHandler;
            ajaxRequest.open('GET', url, true);
            ajaxRequest.send(null);
        }

        // Icons from here: https://github.com/pointhi/leaflet-color-markers

        var greenIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var redIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var greyIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var blueIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
            //shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        function mapRequestHandler() {
            // if AJAX returned a list of markers, add them to the map
            if (ajaxRequest.readyState == 4) {
                //use the info here that was returned
                if (ajaxRequest.status == 200) {
                    hutlist = eval("(" + ajaxRequest.responseText + ")");
                    plotHutMarkers()

                    // If URL parameter hutid was set, we jump to that hut and open its popup
                    var params = getUrlVars();
                    if (params["hutid"] !== undefined) {
                        centerOnHut(params["hutid"]);
                    }
                }
            }
        }

        function plotHutMarkers() {
            if (hutlist) {
                removeMarkers();
                for (i = 0; i < hutlist.length; i++) {
                    var plotll = new L.LatLng(hutlist[i].latitude, hutlist[i].longitude, true);

                    var icon;
                    if (hutlist[i].enabled === false) {
                        icon = greyIcon; // grey=booking not active
                    } else if (Array.isArray(hutlist[i].rooms) && hutlist[i].rooms.length == 0) {
                        icon = blueIcon;
                    } else if (document.getElementById('DateFilter').value != "" && document.getElementById('SelectedBedCategory').value != "") {
                        var selectedRoom = hutlist[i].rooms.filter(room => room.bedCategory == document.getElementById('SelectedBedCategory').value)
                        if (Array.isArray(selectedRoom) && selectedRoom.length == 1 && selectedRoom[0].freeBeds >= document.getElementById('NumberOfPlaces').value) {
                            icon = greenIcon;
                        }
                        else
                        {
                            icon = redIcon; // red=full
                        }
                    } else if (document.getElementById('DateFilter').value != "" && hutlist[i].freeBeds < document.getElementById('NumberOfPlaces').value) {
                        icon = redIcon; // red=full
                    } else if (hutlist[i].freeBeds >= document.getElementById('NumberOfPlaces').value) {
                        icon = greenIcon; // green=beds available
                    } else {
                        icon = blueIcon; // fallback
                    }

                    var plotmark = new L.Marker(plotll, { icon: icon });
                    plotmark.data = hutlist[i];
                    map.addLayer(plotmark);

                    var toolTip = "<b>" + hutlist[i].name + "</b>";
                    if (hutlist[i].freeBeds != null) {
                        toolTip = toolTip.concat("<br />@Localizer["freeBeds"]: " + hutlist[i].freeBeds);
                    }

                    plotmark.bindTooltip(toolTip);

                    var popupBody = [];

                    var popupHeader = "<h6><a href=\"/HutDetail/" + hutlist[i].id + "\">" + hutlist[i].name + "</a></h6>";

                    if (hutlist[i].enabled == true) {
                        if (hutlist[i].freeBeds !== null) {
                            var d = new Date(document.getElementById('DateFilter').value);
                            var formatted = `${d.getDate()}.${d.getMonth() + 1}.${d.getFullYear()}`;
                            popupBody.push("[" + formatted + "] @Localizer["freeBeds"]: " + hutlist[i].freeBeds);
                        }
                        popupBody.push("<a target=\"_blank\" href=\"" + hutlist[i].onlineBookingLink + "\">@SharedLocalizer["onlineBooking"]</a>");
                    }
                    else {
                        popupBody.push("<i>@Localizer["onlineBookingInactive"]</i>");
                    }

                    if (hutlist[i].hutWebsiteLink !== null) {
                        popupBody.push("<a target=\"_blank\" href=\"" + hutlist[i].hutWebsiteLink + "\">@SharedLocalizer["hutWebsite"]</a>");
                    }
                    var rooms = hutlist[i].rooms

                    if (Array.isArray(rooms) && rooms.length) {
                        popupBody.push("")
                        rooms.forEach(function (room) {
                            popupBody.push(room.bedCategory + ": " + room.freeBeds + "/" + room.totalBeds);
                        });
                    }

                    var lu = new Date(hutlist[i].lastUpdated);
                    let options = {
                        year: "numeric", month: "numeric",
                        day: "numeric", hour: "2-digit", minute: "2-digit"
                    };

                    popupBody.push("<br />@Localizer["updateDate"]: " + lu.toLocaleTimeString("de-de", options) + " <a href=\"javascript:centerOnHut(" + hutlist[i].id + ");\">(Zoom in)</a>");

                    plotmark.bindPopup(popupHeader.concat(popupBody.join("<br />")));
                    plotlayers.push(plotmark);
                }
            }
        }

        function centerOnHut(hutId) {
            var hut = hutlist.find(hut => hut.id == hutId);
            if (hut !== undefined && hut !== null) {
                map.setView(new L.LatLng(hut.latitude, hut.longitude), 15);
                plotlayers.find(l => l.data.id == hut.id).openPopup();
            }
        }

        // Function to clear all markers
        function removeMarkers() {
            for (i = 0; i < plotlayers.length; i++) {
                map.removeLayer(plotlayers[i]);
            }
            plotlayers = [];
        }

        function resetFormInputs() {
            document.getElementById('DateFilter').value = '';
            document.getElementById('NumberOfPlaces').disabled = true
            document.getElementById('SelectedBedCategory').disabled = true
        }

        function dateChanged() {
            if (document.getElementById('DateFilter').value != '') {
                askForPlots();
                document.getElementById('SelectedBedCategory').disabled = false
                document.getElementById('NumberOfPlaces').disabled = false
            }
        }

        $(document).ready(function () {
            initmap();
            autocomplete(document.getElementById("mapSearch"));
        })

        // Search with autocomplete
        function autocomplete(inp) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                var arr = hutlist;
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    var valField = arr[i].name; // We are searching on the name
                    if (valField.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + valField.substr(0, val.length) + "</strong>";
                        b.innerHTML += valField.substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + valField + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;

                            var hut = hutlist.find(poi => poi.name === inp.value);
                            map.setView(new L.LatLng(hut.latitude, hut.longitude), 15);
                            // Open the popup
                            plotlayers.find(l => l.data.id == hut.id).openPopup();

                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                            // Do the search
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

    </script>
}

<h1>@SharedLocalizer["map"]</h1>
<div class="row justify-content-between">
    <div class="col-md-3">
        <div class="form-group">
            <form id="dateForm" class="form-inline">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label style="width:200px">@SharedLocalizer["availabilityAtDate"]</label>
                        <input id="DateFilter" type="date" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" style="width:200px" onchange="dateChanged()" />
                    </div>
                    <div class="col-sm-2">
                        <label style="width:100px">@SharedLocalizer["numberOfPlaces"]</label>
                        <input id="NumberOfPlaces" type="number" class="form-control" min="1" value="1" style="width:100px" onchange="plotHutMarkers()" disabled/>
                    </div>
                    <div class="col-sm-3">
                        <label style="width:100px">@SharedLocalizer["bedCategories"]</label>
                        <select id="SelectedBedCategory" class="form-control" asp-items="Model.BedCategories" onchange="plotHutMarkers()" disabled></select>

                    </div>
                    <div class="col-sm-1">
                        <label style="width:100px; color:white">.</label>
                        <button class="btn btn-primary" onclick="resetFormInputs();">@SharedLocalizer["reset"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <div class="autocomplete">
            <label>@Localizer["searchlabel"]</label>
            <input autocomplete="off" id="mapSearch" class="form-control" type="text" placeholder="@SharedLocalizer["search"]">
        </div>
    </div>
</div>

<div id="map" class="map"></div>
